.wrapperErors {
  @apply flex items-center;
  margin-top: 10%;
  text-align: center;
  flex-direction: column;
}
.span {
  @apply mb-10 mt-10 text-xl font-bold;
}
.text {
  @apply mb-10 text-[#333] mb-10 text-xl font-bold;
}
.out {
  @apply mt-10 text-[#8a8a8a] text-xl font-bold;
}
